################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UnverifiedBlast/.vs/UnverifiedBlast/v16
/UnverifiedBlast/UnverifiedBlast/bin
/UnverifiedBlast/UnverifiedBlast/obj/x86
/WarmingBlast/.vs/WarmingBlast/v16
/WarmingBlast/WarmingBlast/bin/Debug
/WarmingBlast/WarmingBlast/obj/x86
