<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="HLDEmailConnectionString" connectionString="Data Source=fas9dyf938y.database.windows.net;Initial Catalog=hldemailmgmt;User ID=HLDfas9dyf938y;Password=5Ir0$oQ!j14P;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
